# Build outputs
/build/
/pc/build/
/pc/build_release/
/pc/build_test/
/pc/build_test_2/
/pc/out/
/pc/out/build/
**/build_release/
**/build_test*/
**/CMakeFiles/
**/_deps/
**/Testing/
**/CMakeCache.txt
**/cmake_install.cmake
**/*.vcxproj
**/*.vcxproj.filters
**/*.sln
**/*.tlog
**/*.obj
**/*.pdb
**/*.ilk

# Visual Studio
.vs/
*.VC.db
*.VC.VC.opendb
*.slnx.sqlite

# CMake cache
CMakeCache.txt
CMakeFiles/

# Binary outputs
*.exe
*.lib
*.dll
*.obj
*.pdb

# Runtime outputs
runs/
*.bin
metrics_*.json
udp_raw.bin

programlar/
