# Build folders 
pc/out/
build/
bin/
dist/

# CMake 
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
*.cmake
cmake-build-*/

# Visual Studio / IDE 
.vs/
.vscode/
*.vcxproj.user
*.suo
*.db
*.opendb

# Logs and Temporary
*.log
*.tmp
*.swp

# OS Files
.DS_Store
Thumbs.db